/* Fonts ( 'Montserrat' ) */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* VARIABLES */
/* Couleurs  */
$primary-color: #171c22;
$secondary-color: #393e46;
$tertiary-color: #00adb5;

$tertiary-color-lighter: lighten($tertiary-color, 70%);

$grey-light-color: #f1f1f1;
$grey-color: #7e7e7e;

$text-clear: #eeeeee;

$primary-font: Montserrat;
$secondary-font: Montserrat;

$breakpoints: ("phone-small": 600px, "phone": 800px, "tablet": 900px, 'notebook': 1024px, "desktop": 1600px);

/* MIXINS */
/* colorations */
@mixin set-color($color) {
  color: $color;
}

@mixin set-background-color($color) {
  background-color: $color;
}

/* FlexBox */
@mixin flexCol-spacearound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@mixin flexCol-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin blur-filter {
  filter: blur(1px)
}

/* MAPS */


/* GLOBALE */
/* BALISE */

body {
  margin: 0
}

/* Classe de la DIV contenant le router-view (Toute l'app SAUF la Navbar et le Footer */
.router-view{
  min-height: calc(100vh - 270px);
  width: calc(100vw - 400px);
  margin: 0 auto;
  @media screen and (max-width: map-get($breakpoints, "desktop")){
    width: calc(100vw - 250px);
  }
  @media screen and (max-width: map-get($breakpoints, "notebook")){
    width: calc(100vw - 100px);
  }
  @media screen and (max-width: map-get($breakpoints, "phone")){
    width: 100%;
  }
  @media screen and (max-width: map-get($breakpoints, "phone")){
    width: 100%;
  }

}
/* NOTE: breakpoints =
"phone-small": 600px,
"phone": 800px,
"tablet": 900px,
'notebook': 1024px,
"desktop": 1600px) */
#app {
}

.container {
height: 100%;
}

 #view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  } 
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  button {
    font-family: "Montserrat", sans-serif;
  }
  
  p,
  span {
    font-size: 16px;
  }

  /* classes utilitaires */
  .tuto {
    font-family: $primary-font;
    font-size: 14px;
    color: $primary-color;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .remove-decoration {
    text-decoration: none;
    color: $primary-color
  }
  .clear-text {
    @include set-color($text-clear);
  }
  .bold {
    font-weight: bold;
  }
  .primary-font {
      font-family: montserrat;
  }
  .contained {
    object-fit: contain;
  }

  .flex-row {
    display: flex; 
    flex-direction: row;
  }
  /* Colorisation */
  .primary-colored {
    color: $primary-color
  }
  .tertiary-colored {
    color: $tertiary-color
  }
  .green {
    color: green !important;
  }
  
  .grey {
    color: grey;
  }

  .red {
    color: darkred !important;
  }

  .shadowed{
    -webkit-box-shadow: 1px 1px 12px 0 #000000;
    -moz-box-shadow: 1px 1px 12px 0 #000000;
    box-shadow: 1px 1px 12px 0 #000000;
  }
  .shadow-card{
    -webkit-box-shadow: 1px 1px 8px 0 $primary-color;
    -moz-box-shadow: 1px 1px 8px 0 $primary-color;
    box-shadow: 1px 1px 8px 0 $primary-color;
    &:hover{
      transition: 500ms;
    -webkit-box-shadow: 1px 1px 15px 0 $primary-color;
    -moz-box-shadow: 1px 1px 15px 0 $primary-color;
    box-shadow: 1px 1px 15px 0 $primary-color;

  }
  }


  .underlined{
    position:relative;
    &::after {
      content: "";
      height: 2px;
      width: 100px;
      background: $tertiary-color;
      position: absolute;
      left: 50px;
      bottom: -5px;
    }
  }
  .underlined--secondary-color{
    position:relative;
    &::after {
      content: "";
      height: 2px;
      width: 80%;
      background: $secondary-color;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
  .underlined--grey{
    position:relative;
    &::after {
      content: "";
      height: 1px;
      width: 80%;
      background: $grey-color;
      position: absolute;
      left: 0;
      bottom: -2px;
    }
  }